/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
}

.base-container {
  display: flex;
}

.main-container {
  flex: 1;
  padding: 0 20px;
}