@import "../color.scss";

.user-chats {
  padding: 3vh 40px;
  height: 100%;
  //background-color: #072D51ff;
  background-color: #023047;
  border: "solid 1px red"
  
  h1 {
    height: 6vh;
  }
}

// Fonts sizes -sender and -time are repeated again below for margins
.message-sender {
  font-weight: bold;
}
.message-time {
  font-size: 12px;
  padding-top: 3px;
}
.chat-container {
  height: 74vh;

  .all-messages {
    height: 100%;
    border: $color-gray-light;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    .message-container {
      display: flex;
      flex-direction: column;
      margin: 15px 20px;

      p {
        margin: 0;
      }

      .message-text.not-mine{
        text-align: left;   
        line-height: 25px;     
      }

      .message-text.mine{
        line-height: 25px;     
        text-align: right;        
      }


      .message-box {
        padding: 15px;
        align-self: flex-start;
        width: fit-content;
        border: #023047 solid 1px;
        border-radius: 8px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: black;

        .sent-text-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 10px;

          .message-sender {
            margin-right: 20px;
          }
        }
      }

      .message-box.logged-in {
        align-self: flex-end;
        width: fit-content;
        color: black;

        .sent-text-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .message-sender {
            margin-left: 0;
            margin-right: 10px;
          }
        }
      }

    }
    button {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  .chat-input {
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: row;
    color: black;

    .input {
      width: 95%;
      background-color: white;
      border-radius: 5px 0px 0px 5px;
      color: black;
    }
    .send-button {
      background: lighten(#023047, 20%);
      color: black;
      width: 5%;

      border: #bdbdbd 1px;
      border-style: solid solid solid none;
    }
  }
}

.react-scroll-to-bottom--css-xlicd-1tj0vk3 {
  height: 70px;
  width: 70px;
}
