@import "../color.scss";
/* header {
  display: flex;
  justify-content: space-between;

  .logo {
    width: 100px;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    ul {
      display: flex;
      gap: 20px;
    }
  }
<<<<<<< HEAD
}
=======
} */

.get-help-btn {
  padding: 10px;
  border: solid 1px $color-gray-dark;
  border-radius: 10px;
}
>>>>>>> 7a8f563bdb82f93190ae1ca3d7c4a5f6311c784f
