.profile-container {
  flex:4;
  position: relative;
  //border: solid 1px #0077b6;
  margin-top: 15px;
}

.profile-container-header {
  position:"absolute";
  top:0;
  left:0;
  width:100%;
  height: 150px;
  //background-color: #24598Cff;
  background-color: #104547;
  background-image: url("https://www.transparenttextures.com/patterns/paven.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 10px 50px;
}

.profile-picture-container {
  justify-content: center;
}

.section-title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #fff;
}

.section-description {
  font-size: 18px;
}

.profile-link-row {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}