.volunteer-list-item-container {
  margin: 5px;
  //border: solid 1px #0077b6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 10px;
  cursor: pointer;
}