.main-volunteers-container {
  display: flex;
  align-items: flex-start;
  gap:20px;
}

.volunteers-list-container {
  flex:1;
  margin-top: 15px;
  border: solid 1px #0077b6;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.connect-container{
  justify-content: center;
}