/* colors */
$color-primary: #52b69a;
$color-secondary: #caf0f8;
/* $color-background-primary: #203040; */
$color-background-primary: #264653;
$color-background-secondary: #005f73;
/* $color-background-primary: #002137ff;
$color-background-secondary: #00253eff; */
//$color-white: rgba(255, 255, 255, 0.235);
$color-white: rgb(255, 255, 255);
$color-black: #000;
$color-gray-light: #e9ecef;
$color-gray-dark: #adb5bd;
$color-red: red;





/* temp */
$prussian-blue: #072D51ff;
$indigo-dye: #133F6Cff;
$indigo-dye-2: #18426Fff;
$bdazzled-blue: #24598Cff;
$honolulu-blue: #316AA2ff;
$spanish-blue: #3974AEff;
/* temp end */