/* colors */
$color-primary: #8eecf5;
$color-secondary: #b9fbc0;
/* $color-background-primary: #203040; */
$color-background-primary: #264653;
$color-background-secondary: #005f73;
$color-white: #fff;
$color-black: #000;
$color-gray-light: #e9ecef;
$color-gray-dark: #adb5bd;
$color-red: red;