@import "../color.scss";

.link {
  color: $color-white;
  text-decoration: none;
}

.nav-link {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  margin-left: 20px;
}

.nav-link:hover {
  //border-bottom: 3px solid $color-primary;
  background-color: #adb5bd;
  color: #05668d;
  border-radius: 5px;
  padding: 5px;
}

.link-title {
  color: #fff;
  text-decoration: none;
}